<center><h2>{{items.0.shopName}}</h2></center>
<hr>

{{#each items}}
    <form action="/shopOperation/edit/{{this.id}}" method="post">
        <button type ="submit" class = "btn btn-warning pull-right">Edit</button>
    </form>
    <h3>{{this.itemName}} </h3>
    <b>Price : </b>{{this.price}} <br>
    <form action="/shopOperation/delete/{{this.id}}" method="post">
        <button type ="submit" class = "btn btn-danger pull-right">Delete</button>
    </form> 
    <b>Quantity : </b>{{this.quantity}} <br>
    <b>Category : </b>{{this.category}} <br>
    <hr>
{{/each}}

{{#if results}}
    {{results.shopName}} deleted {{results.itemName}}
{{/if}}
