<div class="row">
    <div class="col col-sm-12 col-md-3">
        <a href="/shop/shopMenu" class="btn btn-info"><span class = "glyphicon glyphicon-chevron-left"></span>  Go Back</a>
    </div>
    <center>
        <div class="col col-sm-12 col-md-6">
            <a href="/">
                <h2 style="margin-top:0px">College Canteen</h2>
            </a>
        </div>
    </center>
    <div class="col col-sm-12 col-md-3">
        <a href="/shop/logout" class = "btn btn-danger pull-right">Log out &nbsp;&nbsp;<span class="glyphicon glyphicon-share"></span></a>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-3">
        {{# each shopItems}}
            <form action="/shopOperation/items/{{this.shopName}}" method="post" class = "form form-inline">
                <button type="submit" class = "btn btn-default">{{this.shopName}}</button>
            </form><br>
        {{/each}}
    </div>
    <div class="col-md-9">
        <div style = "border-left: 1px solid #838282;">
            <div class="list-group">
                {{# each results}}
                <h4>
                    &nbsp; &nbsp; {{this.itemName}}
                </h4>
                <p>
                    <b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;From shop :</b> {{this.shopName}} <br>
                    <b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Price :</b> {{this.price}} <br>
                    <b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Quantity :</b> {{this.quantity}} <br>
                </p>
                <hr>
                {{/each}}
            </div>
        </div>
    </div>
</div>

