<div class="row">
    <div class="col col-sm-12 col-md-3">
        <a href="/shop/shopMenu" class="btn btn-info"><span class = "glyphicon glyphicon-chevron-left"></span>  Go Back</a>
    </div>
    <center>
        <div class="col col-sm-12 col-md-6">
            <a href="/">
                <h2 style="margin-top:0px">College Canteen</h2>
            </a>
        </div>
    </center>
    <div class="col col-sm-12 col-md-3">
        <a href="/shop/logout" class = "btn btn-danger pull-right">Log out &nbsp;&nbsp;<span class="glyphicon glyphicon-share"></span></a>
    </div>
</div>
<hr>

{{# each shopItems}}
    <form action="/shopOperation/items/{{this.shopName}}" method="post">
        <button type="submit">{{this.shopName}}</button>
    </form><br>
{{/each}}

{{# each results}}
    <b>Shop Name</b>{{this.shopName}} 
    <b>Item Name</b>{{this.itemName}}
    <b>Price</b>{{this.price}}
    <b>Quantity</b>{{this.quantity}}
    <b>Category</b>{{this.category}}
    <hr>
{{/each}}