{{# each shopItems}}
    <form action="/shopOperation/items/{{this.shopName}}" method="post">
        <button type="submit">{{this.shopName}}</button>
    </form><br>
{{/each}}

{{# each results}}
    <b>Shop Name</b>{{this.shopName}} 
    <b>Item Name</b>{{this.itemName}}
    <b>Price</b>{{this.price}}
    <b>Quantity</b>{{this.quantity}}
    <b>Category</b>{{this.category}}
    <hr>
{{/each}}