<div class="row">
    <!-- Comment out later for security / or completely remove ...-->
    <!-- <div class="col-sm-2">
        <a href="/shopSignUp" class="btn btn-danger">Shop Sign Up</a>
    </div> -->
    <!-- Comment out later -->
    <div class="col col-sm-12 col-md-3">
        <a href="/shopSignIn" class="btn btn-info pull-left">Shop Sign In</a>
    </div>
    <center>
        <div class="col col-sm-12 col-md-6">
            <a href="/">
                <h2 style="margin-top:0px">College Canteen</h2>
            </a>
        </div>
    </center>
    <div class="col col-sm-12 col-md-3">
        <a href="/studentLogin" class="btn btn-warning pull-right">Student Login</a>
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <b class="navbar-brand">Current Items Available</b>
        </div>
        {{#if results}}
        <b class="navbar-brand pull-right">You are logged in as {{results.name}}
            <{{results.regdNo}}>
        </b>
        {{/if}}
    </div>
</nav>

<center>
    <div class="btn-group" role="group">
        <a href="/" class="btn btn-default">
            <span class="glyphicon glyphicon-cutlery"></span> All</a>
        {{#each shopUsers}}
        <a href="/shop/shopItems/{{this.shopName}}" class="btn btn-default">
            <span class="glyphicon glyphicon-cutlery"></span>
            {{this.shopName}}
        </a>
        {{/each}}
    </div>
</center>
<br>
<!-- For latest 16 items entered in canteen  -->
<div class="row">
    {{# each items}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
            <img src="..." alt="Image here !!">
            <div class="caption">
                <h4>{{this.itemName}}</h4>
                <hr>
                <p>
                    <b>Shop: </b>{{this.shopName}}</p>
                <b>Price: </b>{{this.price}}
                <p class="pull-right">
                    <b>Quantity left: </b>{{this.quantity}}</p>
                <br>
                <br>
                <a href="/studentOperation/book?itemName={{this.itemName}}&shopName={{this.shopName}}&price={{this.price}}"
                    class="btn btn-primary" 
                    role="button">Book Now</a>
                <a href="/studentOperation/deliever?itemName={{this.itemName}}&shopName={{this.shopName}}&price={{this.price}}" class="btn btn-default pull-right" role="button">Deliever to room</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<!-- Button group bata aayo vanney yo tala ko aaunxa... -->
<div class="row">
    {{# each shopItems}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
            <img src="..." alt="Image here !!">
            <div class="caption">
                <h4>{{this.itemName}}</h4>
                <hr>
                <p><b>Shop: </b>{{this.shopName}}</p>
                <b>Price: </b>{{this.price}}
                <p class="pull-right">
                    <b>Quantity left: </b>{{this.quantity}}</p>
                <br>
                <br>
                <a href="/studentOperation/book?itemName={{this.itemName}}&shopName={{this.shopName}}&price={{this.price}}" class="btn btn-primary" role="button">Book Now</a>
                <a href="#" class="btn btn-default pull-right" role="button">Deliever to room</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>