<h3>Shop Menu</h3> 
<br>
{{# if result}}
<h3>
    {{result.regdNo}}<br>
    {{result.name}} <br>
    {{result.password}}
    <br>
</h3>
<h1>Entered</h1>
{{/if}}


<!--  SHop operation - post /additems -->
{{details.shopName}} <br>
{{details.itemName}} <br>
{{details.price}} <br>
{{details.quantity}} <br>
{{details.category}} <br>
<br>

<form action="/shopOperation/addStudent" method = "post">
    <button type="submit">Add student</button> 
</form>
<br><br>
<form action="/shopOperation/add" method = "post">
    <button type="submit">Add Items</button>
</form>
<form action="/shopOperation/displayAll" method="post">
    Shop Name :
    <button type="submit">Display All Items</button>
</form>
<br><br>
<form action="/shopOperation/viewStudents" method="post">
    <button type="submit">View All Students Accounts</button>
</form>
<br><br>
<a href="/shop/logout">Log out</a>