<center>
    <h2>Shop Menu</h2>
</center>
<hr>

{{#if errorMsg}}
<div class="alert alert-danger">
    The Student named :<b>{{errorMsg.name}}</b> bearing registration number : <b>{{errorMsg.regdNo}}</b> already exists in the database. <br>
    Please try to view all students. 
</div>
{{/if}}

<center>
    <form action="/shopOperation/addStudent" method="post">
        <button id="dense" type="submit" class="btn btn-primary btn-lg">Add student</button>
    </form>
    <br>
    <form action="/shopOperation/add" method="post">
        <button id="dense" type="submit" class="btn btn-primary btn-lg">Add Items</button>
    </form>
    <br>
    <form action="/shopOperation/displayAll" method="post">
        <button id="dense" type="submit" class="btn btn-primary btn-lg">Display All Items</button>
    </form>
    <br>
    <form action="/shopOperation/viewStudents" method="post">
        <button id="dense" type="submit" class="btn btn-primary btn-lg">View All Students Accounts</button>
    </form>
    <br>
    <form action="/shopOperation/viewBookedItems" method="post">
        <button id = "dense" type="submit" class="btn btn-primary btn-lg">View Booked Items By Students</button>
    </form>
    <br>
    <form action="/shopOperation/viewDelieverItems" method="post">
        <button id = "dense" type="submit" class="btn btn-primary btn-lg">View Items to deliever to Students</button>
    </form>
    <br><br><br>
    <a id="dense" class="btn btn-danger btn-lg" href="/shop/logout">Log out</a>
</center>
<br> {{# if result}}
<h3>
    {{result.regdNo}}<br> {{result.name}} <br> {{result.password}}
    <br>
</h3>
<h1>Entered</h1>
{{/if}}


<!--  SHop operation - post /additems -->
{{details.shopName}} <br> {{details.itemName}} <br> {{details.price}} <br> {{details.quantity}} <br> {{details.category}} <br>
<br>