{{#if results}}
<div class="alert alert-success" role="alert">
    regdno{{results.regdNo}}
    student{{results.studentName}}
    item {{results.itemName}}
    price {{results.price}}
    shop {{results.shopName}}
    deliever to {{results.delieveryToPlace}}
</div>
{{/if}}

<br> <br>
<a href="/" class = "btn btn-info btn-lg">Go back to main menu</a>
<a href="/studentOperation" class = "btn btn-danger btn-lg pull-right">Log out.</a>