{{#if results}}
<div class="alert alert-success" role="alert">
    Thank you <b>{{results.studentName}}</b>, <br>
    <b>{{results.itemName}}</b> will be delievered to <b>{{results.delieveryToPlace}}</b> as soon as possible.
    <br><br>
    Your item will be delievered by <b>{{results.shopName}}</b>. Please keep <b>{{results.price}}.rs</b> ready.
</div>
{{/if}}

<br> <br>
<a href="/" class = "btn btn-info btn-lg">Go back to main menu</a>
<a href="/studentOperation" class = "btn btn-danger btn-lg pull-right">Log out.</a>