{{#if delieverItem}}
    Where should we deliever <b>{{delieverItem.itemName}}</b>?<br><br>
    <form action="/studentOperation/whereToDeliever?itemName={{delieverItem.itemName}}&shopName={{delieverItem.shopName}}&price={{delieverItem.price}}" method = "post">
        <textarea class = "form-control" placeholder = "Enter your room number.(Also mention the block)" name = "whereTo" required></textarea><br>
        <button type="submit" class = "btn btn-primary">Deliever Here</button>
    </form>
    {{else}}
    <center>
        <h1>You should log in again !!</h1>
    </center>
{{/if}}
